### Import Librabries

In [67]:
# import required package for data handling
import pandas as pd
import numpy as np

# import required packages for splitting data
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

# import required packages for evaluating models
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support

# import `logistic regression` model
from sklearn.linear_model import LogisticRegression

### Load the source data

In [68]:
# Create dataframe and fill missing values
df = pd.read_csv('Competition1_raw_data.csv', header=0, na_values=['-'])
df.head(5)
df.dtypes

I1          object
I2          object
I3          object
P(IPO)     float64
P(H)       float64
P(L)       float64
P(1Day)    float64
C1         float64
C2         float64
C3         float64
C4         float64
C5         float64
C6         float64
C7         float64
T1         float64
T2         float64
T3         float64
T4         float64
T5         float64
S1         float64
S2         float64
S3         float64
dtype: object

### Analyze the Source Data

In [69]:
df.shape
df.describe()

,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
count,677.000000,672.000000,672.000000,660.000000,660.000000,660.000000,646.000000,660.000000,6.760000e+02,6.760000e+02,610.000000,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000
mean,13.837666,15.481190,13.515045,25.934766,149.728788,0.859091,1.788904,0.007282,4.935776e+07,1.241519e+07,500.459962,465.634361,12758.606461,11395.844347,294.353891,679.220264,68.421439,120.104258,144.759178
std,6.053731,6.653429,5.835646,73.234948,152.817467,0.348192,162.666532,0.033318,1.043764e+08,2.512855e+07,1648.337634,175.741647,5449.644597,4839.670179,121.532637,472.914323,39.096525,84.828959,69.276285
min,3.000000,0.000000,3.000000,0.000000,10.000000,0.000000,-786.239000,-0.162352,3.693227e+06,5.250000e+05,0.074000,132.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,20.000000,26.000000
25%,10.000000,12.500000,11.000000,11.000000,85.000000,1.000000,-0.852500,-0.013927,1.871417e+07,5.000000e+06,37.245750,351.000000,9195.000000,8162.000000,213.000000,462.000000,45.000000,73.000000,100.000000
50%,13.500000,15.000000,13.000000,14.845000,107.000000,1.000000,0.010000,0.009125,2.740018e+07,7.398704e+06,103.833000,444.000000,12045.000000,10785.000000,279.000000,624.000000,60.000000,100.000000,134.000000
75%,17.000000,17.000000,15.000000,20.485000,155.250000,1.000000,0.470000,0.031571,4.980786e+07,1.200000e+07,331.138000,551.000000,15241.000000,13760.000000,354.000000,795.000000,85.000000,142.000000,173.000000
max,85.000000,135.000000,108.000000,1159.200562,2087.000000,1.000000,3864.500000,0.092896,2.138085e+09,4.212336e+08,30683.000000,1750.000000,49056.000000,43952.000000,1058.000000,10277.000000,309.000000,944.000000,883.000000

In [70]:
# Calculating the number of nulls in each column.
df.isnull().sum()

I1          0
I2          0
I3          8
P(IPO)      5
P(H)       10
P(L)       10
P(1Day)    22
C1         22
C2         22
C3         36
C4         22
C5          6
C6          6
C7         72
T1          1
T2          1
T3          1
T4          1
T5          1
S1          1
S2          1
S3          1
dtype: int64

#### Imputation

In [71]:
# Replace the missing data with mean/median/mode
df['P(IPO)'].fillna(df['P(IPO)'].median(), inplace = True)
df['P(H)'].fillna(df['P(H)'].median(), inplace = True)
df['P(L)'].fillna(df['P(L)'].median(), inplace = True)
df['P(1Day)'].fillna(df['P(1Day)'].median(), inplace = True)
df['C1'].fillna(df['C1'].median(), inplace = True)
df['C2'].fillna(df['C2'].median(), inplace = True)
df['C3'].fillna(df['C4'].median(), inplace = True)
df['C4'].fillna(df['C4'].median(), inplace = True)
df['C5'].fillna(df['C5'].median(), inplace = True)
df['C6'].fillna(df['C6'].median(), inplace = True)
df['C7'].fillna(df['C7'].median(), inplace = True)
df['T1'].fillna(df['T1'].median(), inplace = True)
df['T2'].fillna(df['T2'].median(), inplace = True)
df['T3'].fillna(df['T3'].median(), inplace = True)
df['T4'].fillna(df['T4'].median(), inplace = True)
df['T5'].fillna(df['T5'].median(), inplace = True)
df['S1'].fillna(df['S1'].median(), inplace = True)
df['S2'].fillna(df['S2'].median(), inplace = True)
df['S3'].fillna(df['S3'].median(), inplace = True)
df.isnull().sum()

I1         0
I2         0
I3         8
P(IPO)     0
P(H)       0
P(L)       0
P(1Day)    0
C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
T1         0
T2         0
T3         0
T4         0
T5         0
S1         0
S2         0
S3         0
dtype: int64

In [72]:
# Add Positive EPS dummy column C3_D with dummy variable set to 1 if C3 is positive, otherwise 0. 
df['C3_D'] = pd.get_dummies(df.C3 > 0, drop_first=True, dtype=bool)

# Add Share Overhang column C5_D.
df['C5_D']=df['C5']/df['C6']

# Add Up Revision column C6_D.
df['P(mid)'] = ((df['P(H)']+df['P(L)'])/2)
df['C6_D'] = ((df['P(IPO)']-df['P(mid)'])/df['P(mid)']*0.01).where((df['P(IPO)'] > df['P(mid)']), 0)

#### Adding Target Variables

In [73]:
# Add Pre-IPO Price Revision column Y1.
df['Y1'] = np.where(df['P(IPO)'] < ((df['P(H)'] + df['P(L)'])/2), '1', '0')
df['Y1'] = df['Y1'].astype('int')

#Add Post-IPO Initial Return column Y2.
df['Y2'] = np.where(df['P(IPO)'] < df['P(1Day)'], '1', '0')
df['Y2'] = df['Y2'].astype('int')

df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 28 columns):
I1         682 non-null object
I2         682 non-null object
I3         674 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null float64
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
C3_D       682 non-null bool
C5_D       682 non-null float64
P(mid)     682 non-null float64
C6_D       682 non-null float64
Y1         682 non-null int64
Y2         682 non-null int64
dtypes: bool(1), float64(22), int64(2), object(3)
memory usage: 144.6+ KB

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,T5,S1,S2,S3,C3_D,C5_D,P(mid),C6_D,Y1,Y2
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,...,690.0,62.0,117.0,139.0,True,3.864345,9.0,0.001111,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0.0,-1.62,...,1120.0,71.0,242.0,237.0,False,12.028832,9.0,0.000000,1,0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,...,325.0,61.0,33.0,60.0,False,3.369134,13.0,0.000000,1,0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,...,509.0,80.0,59.0,110.0,False,3.299697,15.0,0.000000,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,...,720.0,67.0,149.0,167.0,True,3.726269,20.0,0.000500,0,1

In [74]:
# Change the data types 
df['Y1'] = df['Y1'].astype('bool')
df['Y2'] = df['Y2'].astype('bool')
df['C2'] = df['C2'].astype('bool')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 28 columns):
I1         682 non-null object
I2         682 non-null object
I3         674 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null bool
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
C3_D       682 non-null bool
C5_D       682 non-null float64
P(mid)     682 non-null float64
C6_D       682 non-null float64
Y1         682 non-null bool
Y2         682 non-null bool
dtypes: bool(4), float64(21), object(3)
memory usage: 130.6+ KB

In [75]:
#Handle values with 0 - to prevent INF error
df[np.isinf(df)] = 0

TypeError: ufunc 'isinf' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
# Create column T1_D with Percent of long sentences
df['T1_D']=df['T4']/df['T1']
# Create column T3_D with Percent of real words
df['T3_D']=df['T3']/df['T2']
# Create column T5_D with Percent of long words
df['T5_D']=df['T5']/df['T2']
# Create column S1_D with Percent of Positive words
df['S1_D']=df['S1']/df['T2']
# Create column S2_D with Percent of real words
df['S2_D']=df['S2']/df['T2']
# Create column S3_D with Percent of real words
df['S3_D']=df['S3']/df['T2']

#### Creating new dataframe for predictive analysis of underpricing phenomenon.

In [ ]:
# Creating new dataframe by extracting columns from existing dataframe.
data = df[['C1', 'C2', 'C3_D', 'C4', 'C5_D', 'C6_D', 'C7', 'T1_D', 'T3_D', 'T5_D', 'S1_D', 'S2_D', 'S3_D', 'Y1', 'Y2']].copy()
data.info()
data.head()

In [ ]:
data.describe()

Check the shape of the data.

In [ ]:
#review all columns to later identify needed ones for normalization based on data dictionary and data type
print(df.columns)
col= df.columns

In [ ]:
#filter out columns that contains continous/float64 in order to begin normalization process
#print continuous columns
# checking the continuous columns/float64 that needs to be normalized 
print(df.describe(include= 'float64'))

# Creating new variable (cf) for continuous datatype
cf= df.select_dtypes(include=['float64'])

In [ ]:
#Fill in null values with Mean but first verify mean for col
cf['P(IPO)'].median()
cf['P(H)'].median()
#loc[row_indexer,col_indexer]
#cf.loc['P(IPO)']= cf['P(IPO)'].fillna(value=cf["P(IPO)"].median())
#cf['P(IPO)'].fillna(value=cf["P(IPO)"].median())

#checking cols that had inf or Nan checking for median
#fill in meadian for Nan values
print(cf['T3_D'].median())
cf['T3_D'].fillna(value=cf["T3_D"].median())
print(cf['T5_D'].median())
cf['T5_D'].fillna(value=cf["T5_D"].median())
print(cf['S1_D'].median())
cf['S1_D'].fillna(value=cf["S1_D"].median())
print(cf['S2_D'].median())
cf['S2_D'].fillna(value=cf["S2_D"].median())
print(cf['S3_D'].median())
cf['S3_D'].fillna(value=cf["S3_D"].median())

In [ ]:
# Min-max normalization, doesn't assume central tendency
# Normalized_df=(df-df.min())/(df.max()-df.min()) - code for normalization
# Importing MinMax from skl package
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline

#x = cf.values #returns a numpy array
scaler= MinMaxScaler()
scaler.fit_transform(cf)
#df = pandas.DataFrame(x_scaled)
#Create new dataframe of normzalizsed data

In [76]:
 #pd.get_dummies for categorical variables
#using term logicalinstead of 'dummy'
logical=pd.get_dummies(df.Y1)
logical=pd.get_dummies(df.Y2)
#adding logical to 
merged_logical= pd.concat([df,logical], axis = 'columns')
merged_logical.head(10)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,S2,S3,C3_D,C5_D,P(mid),C6_D,Y1,Y2,False,True
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,True,3.43,...,117.0,139.0,True,3.864345,9.0,0.001111,False,True,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,False,-1.62,...,242.0,237.0,False,12.028832,9.0,0.000000,True,False,1,0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,True,-1.24,...,33.0,60.0,False,3.369134,13.0,0.000000,True,False,1,0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,True,-0.91,...,59.0,110.0,False,3.299697,15.0,0.000000,True,True,0,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,True,0.07,...,149.0,167.0,True,3.726269,20.0,0.000500,False,True,0,1
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,94.0,True,0.06,...,96.0,181.0,True,5.724394,13.5,0.000000,False,True,0,1
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,128.0,True,-1.87,...,106.0,135.0,False,3.463095,12.0,0.000000,True,True,0,1
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,91.0,False,-0.74,...,120.0,122.0,False,2.421469,13.0,0.000000,True,False,1,0
8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,100.0,True,-0.51,...,124.0,234.0,False,4.816591,17.0,0.000000,True,True,0,1
9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,0.000000,106.0,True,1.49,...,90.0,147.0,True,3.056608,18.0,0.000000,True,False,1,0

In [77]:
# 7 IPO characteristics variables (C1 - C2, C3’, C4, C5’ – C6’, C7);
#creating new datafrae for target variables as target_v & determinants of IPO as d_v
target_v=['P(IPO)','P(H)', 'P(L)', 'P(1Day)']
ipo= [ 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7']

In [78]:
from sklearn.preprocessing import LabelEncoder

le_C1=LabelEncoder()
le_C2=LabelEncoder()
le_C3= LabelEncoder()

In [79]:
ipo['le_C1'] = le_C1.fit_transform(ipo['C1'])

TypeError: list indices must be integers or slices, not str

In [80]:
from sklearn import tree
tree_model= tree.DecisionTreeClassifier()
tree_model.fit(ipo,target_v)

ValueError: could not convert string to float: 'C1'